# sensible configuration 
.env

# python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# environment
mark_env/

# temporary or backup files
*.swp
*.swo
*.bak
*.tmp
*.DS_Store
desktop.ini
Thumbs.db

# log files
*.log

# Ignore all file .html in data/documents_raw/
data/documents_raw/*.html

# Ignore all file .txt in data/chunks/
data/chunks/*.txt

# Ignore all file .txt in data/text_clean/
data/text_clean/*.txt